* {
    margin: 0px;
    padding: 0px;
}
.formArea{
    width: 450px;
    height: 480px;
    background-color:rgb(211, 199, 199);
    border-radius:12px;
    
}
.center {
    justify-content: center;
    align-items: center;
    display: flex;
}
form {
    margin:5%;
}
.required {
    color: red;
}

.button {
    width: 30%;
    height: 40px;
    margin-left: 35%;
    margin-top: 10%;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    background-color:orange;
    border-radius: 16px;
    outline: none;
}
/* button:hover{
    background-color:rgb(255, 0, 0);
    box-shadow:7px 5px ;
} */
.inputButton {
    width: 60%;
    height: 40px;
    margin: 2%;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    border-radius: 16px;
    color: black;
    outline: none;
}
.ageDiv {
    display:none;
}